
<%- include('header') %>

<div class="main-panel">        
    <div class="content-wrapper">
      <div class="row">
        <div class="col-9 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Update Admin</h4>
              <% var fullname = singledata.name.split(' ') %>              
              <form class="forms-sample" method="post" action="/admin/editadmin/<%= singledata.id %>" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="exampleInputName1">First Name</label>
                  <input type="text" class="form-control" name="fname" id="exampleInputName1" value="<%= fullname[0] %>" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Last Name</label>
                    <input type="text" class="form-control" name="lname" id="exampleInputName1" value="<%= fullname[1] %>" placeholder="Last Name">
                  </div>
                <div class="form-group">
                  <label for="exampleInputEmail3">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail3" name="email" value="<%= singledata.email %>" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleSelectGender">Hobby</label><br>
                      <input type="checkbox" name="hobby" value="Study" <% if(singledata.hobby.includes('Study')){ %> checked <% } %>> Study
                      <input type="checkbox" name="hobby" value="Running" style="margin-left: 10px;" <% if(singledata.hobby.includes('Running')){ %> checked <% } %>> Running
                      <input type="checkbox" name="hobby" value="Adventure" style="margin-left: 10px;" <% if(singledata.hobby.includes('Adventure')){ %> checked <% } %>> Adventure
                  </div>
                <div class="form-group">
                  <label for="exampleSelectGender">Gender</label><br>
                    <input type="radio" name="gender" value="Male" <% if(singledata.gender=='Male'){ %> checked <% } %>> Male
                    <input type="radio" name="gender" value="Female" style="margin-left: 10px;" <% if(singledata.gender=='Female'){ %> checked <% } %>> Female
                </div>
                <% var city=['Surat','Vadodara','Rajkot','Ahmedabad'] %>
                <div class="form-group">
                    <label for="exampleInputCity1">City</label>
                    <select name="city" class="form-control">
                        <option value="">--Select City--</option>
                        <% city.map((v,i)=> { %> 
                            <option value="<%= v %>" <% if(singledata.city==v){ %> selected <% } %>><%= v %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Message</label>
                    <textarea class="form-control" name="message" id="exampleTextarea1" rows="4" placeholder="Message"><%= singledata.message %></textarea>
                  </div>
                <div class="form-group">
                  <label>Upload Image</label><br>
                  <div class="input-group col-xs-12">
                    <input type="file" class="form-control file-upload-info" name="image">
                  </div>
                  <img src="<%= singledata.image %>" alt="images" width="100">
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

<%- include('footer') %>