
    <%- include('header') %>

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Show Admins</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            Admin
                          </th>
                          <th>
                            Name
                          </th>
                          <th>
                            Email
                          </th>
                          <th>
                            Hobby
                          </th>
                          <th>
                            Gender
                          </th>
                          <th>
                            City
                          </th>
                          <th>
                            Message
                          </th>
                          <th>
                            Action
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(adata of admdata){ %> 
                            <tr>
                                <td class="py-2">
                                    <img src="<%= adata.image %>" alt="image"/>
                                </td>
                                <td><%= adata.name %></td>
                                <td><%= adata.email %></td>
                                <td><%= adata.hobby %></td>
                                <td><%= adata.gender %></td>
                                <td><%= adata.city %></td>
                                <td><%= adata.message %></td>
                                <td>
                                    <a href="/admin/deleteadmin/?id=<%= adata.id %>" style="color: rgb(255, 83, 83);"><i class="fa fa-trash"></i></a> ||
                                    <a href="/admin/updateadmin/?id=<%= adata.id %>" style="color: green"><i class="fa-solid fa-pen-to-square"></i></a>
                                </td>
                            </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    <%- include('footer') %>