<%- include('user_header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="/css/cardstyle.css" type="text/css">
    <link rel="stylesheet" href="/fonts/font-awsome/css/all.css" type="text/css">
    <link rel="stylesheet" href="/fonts/font-awsome/css/fontawesome.css" type="text/css">
    <link rel="stylesheet" href="/fonts/poppins/stylesheet.css" type="text/css">
    <link rel="stylesheet" href="/fonts/Sansita/stylesheet.css" type="text/css">
    <link rel="stylesheet" href="/fonts/philosopher/stylesheet.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/redmond/jquery-ui.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
</head>
<body>

    <section class="card_content">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="card bg-light d-flex">
                        <div class="image text-center">
                            <img src="<%= docdata.doctorimg %>" alt="doctors-img1">
                        </div>
                        <div class="card-body">

                            <div class="rounded">

                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <th scope="col">Name:</th>
                                            <td>Dr. <%= docdata.name %></td>
                                        </tr>
                                        <tr>
                                            <th scope="col">Specialization:</th>
                                            <td><%= docdata.specializationid.specialization %></td>
                                        </tr>
                                        <tr>
                                            <th scope="col">Gender:</th>
                                            <td><%= docdata.gender %></td>
                                        </tr>
                                        <tr>
                                            <th scope="col">Consultancy Fees:</th>
                                            <td><%= docdata.consultancy_fees %></td>
                                        </tr>
                                        <tr>
                                            <th scope="col">Time:</th>
                                            <td><%= dtime.time %></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card bg-light d-flex">
                        <h5 class="mb-5">Book Appointment</h5>
                        <form method="post" action="/user/confirmappointment/<%= docdata.id %>">
                            <div class="row mb-5">
                                <label for="date" class="col-sm-2 col-form-label">Date</label>
                                <div class="col-sm-10">
                                    <input type="text" id="calander" class="form-control" name="date" placeholder="Select Date">
                                </div>
                            </div>
                            <div class="row mb-5">
                                <label for="time" class="col-sm-2 col-form-label">Time</label>
                                <div class="col-sm-10">
                                    <input type="text" id="timepicker1" class="form-control" name="time" placeholder="Select Time">
                                </div>
                            </div>
                            <button type="submit" class="btnsubmit">Book Appointment</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

    <script>
        var today = new Date();
        $('#calander').datepicker({
            minDate: today,
            // dateFormat: 'dd/mm/yy',
            dateFormat: "d MM, yy",
            maxDate: 1
        });

        $('#timepicker1').timepicker({
            timeFormat: 'h:mm p',
            interval: 30,
            minTime: '9',
            maxTime: '7:00pm',
            defaultTime: '9',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });

    </script>
    
</body>
</html>

<%- include('user_footer') %>