
<%- include('header') %>

    <!-- Form Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-9">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">Add Doctor</h6>
                    <form method="post" action="/admin/doctor/insertdoctor" enctype="multipart/form-data">
                        <div class="row mb-3">
                            <label for="firstname" class="col-sm-3 col-form-label">First Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="firstname" placeholder="first name">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="lastname" class="col-sm-3 col-form-label">Last Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="lastname" placeholder="last name">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="contact" class="col-sm-3 col-form-label">Contact No.</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="contact_no" placeholder="contact number">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" name="email" placeholder="email">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="specialization" class="col-sm-3 col-form-label">City</label>
                            <div class="col-sm-9">
                                <select class="form-select mb-3" aria-label="Default select example" name="specializationid">
                                    <option selected>--select doctor specialization--</option>
                                    <% spldata.map((v,i)=> { %> 
                                        <option value="<%= v.id %>"><%= v.specialization %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="fees" class="col-sm-3 col-form-label">Consultancy Fees</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="consultancy_fees" placeholder="consultancy fees">
                            </div>
                        </div>
                        <fieldset class="row mb-3">
                            <legend class="col-form-label col-sm-3 pt-0">Gender</legend>
                            <div class="col-sm-9">
                                <div class="form-check">
                                    <input class="form-check-input" value="Male" type="radio" name="gender" checked> Male
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" value="Female" type="radio" name="gender"> Female
                                </div>
                            </div>
                        </fieldset>
                        <div class="row mb-3">
                            <label for="city" class="col-sm-3 col-form-label">City</label>
                            <div class="col-sm-9">
                                <% var city=['Surat','Vadodara','Ahmedabad','Rajkot','Vapi'] %>
                                <select class="form-select mb-3" aria-label="Default select example" name="city">
                                    <option selected>--select city--</option>
                                    <% city.map((v,i)=> { %> 
                                        <option value="<%= v %>"><%= v %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="formFile" class="col-sm-3 col-form-label">Upload Image</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="file" name="doctorimg">
                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Add Doctor</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Form End -->

<%- include('footer') %>
